[submodule "ava-sim"]
	path = ava-sim
	url = git@github.com:rkass/ava-sim.git
[submodule "zcash"]
	path = zcash
	url = git@github.com:rkass/zcash.git
[submodule "avalanchego"]
	path = avalanchego
	url = git@github.com:ava-labs/avalanchego.git
[submodule "timestampvm2"]
	path = timestampvm2
	url = git@github.com:rkass/timestampvm2.git
